<div class="container">
<% if !@file_upload.errors.empty? %>
   <div>
      
      <ul>
         <% @file_upload.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </ul>
      
   </div>
<% end %>

<div>
   <%= form_for @file_upload, html: { multipart: true } do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <br><br>
      <%= f.label :attachment %>
      <%= f.file_field :attachment %>
      <br>
      <%= f.submit "Upload" %>
   <% end %>
</div>
</div>